* {
    background-color: white;
    box-sizing: border-box;
}

:root {
    --cell-size: 10vh;
    --mark-size: calc(var(--cell-size) * 0.9);

}

body { 
    margin: 0;
}

.content-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    height: auto;
    width: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* border: 2px solid red; */
    gap: 4px;
    background-color: black;

}

.board-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--mark-size);

    /* border: 2px solid rgb(0, 0, 0); */
}

.board-cell.x,
.board-cell.o {
    cursor: not-allowed;
}

.board-cell.x:hover,
.board-cell.o:hover {
    background-color: lightgray;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    top: 70vh;
    left: 50vh;
    height: 400px;
    width: 300px;
    opacity: 90%;
    background-color: black;
    border: 2px solid red;
}

.restart-modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    top: 70vh;
    left: 20vh;
    height: 400px;
    width: 300px;
    opacity: 90%;
    background-color: black;
    border: 2px solid red;
}

.winning-message {
    display: inline;
}